[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pinecone-client = "==2.0.13"
openai = "*"
streamlit = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
